body{
  margin: 0 0 0 0 ;
  padding: 0;
  overflow: hidden;
}

.main-menu .nav-item{
padding:  0rem 2rem;
font-weight: bold;
}


.bio-img{
  text-align: center;
}


.bio-img img{
  height:100px;
   weight:100px;

}

.left-bar-name{
  text-align: center;
}
